@import "tailwindcss";

@source "../../../../libs/ui/src";

@theme {
  --color-primary: #111827;
  --color-primary-foreground: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

/* 시스템 다크모드 환경별 CSS 변수 재정의 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2;
  }
}